.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 60px;
    width: 100%;
    max-width: 540px;
}

.description_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
}

.description_text > h1 {
    font-size: 3rem;
}

.description_text > p {
    color: #86928B;
}

h1 > span {
    font-size: 3.5rem;
    color: #598D66;
}

.description > button {
    max-width: 230px;
    padding: 20px 60px;

    color: #598D66;
    background: none;
    border: 1px solid #598D66;
    
    font-weight: 600;

    cursor: pointer;

    transition: all 0.5s;
}

.description > button:hover {
    color: #F4F6F5;
    background-color: #598D66;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .description {
        max-width: 250px;

        align-items: center;
    }

    .description_text {
        align-items: center;
        text-align: center;
    }
}