.messenger {
    display: flex;
    flex-direction: column;

    gap: 10px;
    padding-top: 4px;

    color: var(--clr5);
}

.icons {
    display: flex;
    align-items: center;

    gap: 30px;
}

.icon {
    cursor: pointer;
    transition: transform 0.5s;
}

.icon:hover {
    transform: scale(1.2);
}

.text {
    font-size: .75rem;
}