.content {
    display: flex;
    flex-direction: column;

    gap: 35px;
}

.number {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.text {
    font-size: 1.25rem;
    color: var(--clr4);
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-right: 13px;
    }
}
