@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Raleway';
}

:root {
    --clr1: #F4F6F5;
    --clr2: #E1EDE6; 
    --clr3: #598D66;
    --clr4: #2C2D35;
    --clr5: #86928B;
    --clr6: #D4E8D9;
    --clr7: #376B44;
    --clr8: #EEDB6D;
}

body {
    background-color: var(--clr1);
}

@media screen and (max-width: 992px) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: 10px;
    }
}