@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Raleway';
}

body {
    background-color: #F4F6F5;
}


@media screen and (max-width: 992px) {
    * {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: 10px;
    }
}