.button {
    max-width: 230px;
    padding: 20px 60px;

    color: var(--clr3);
    background: none;
    border: 1px solid var(--clr3);
    
    font-weight: 600;

    cursor: pointer;

    transition: color 0.5s, background-color 0.5s, transform 0.5s;
}

.button:hover {
    color: var(--clr1);
    background-color: var(--clr3);
}