.card {
    width: 100%;

    padding: 20px 20px 30px 20px;

    background-color: var(--clr2);

    & Button {
        max-width: none;
        width: 100%;
    }
}

.picture {
    height: 100%;
    width: 100%;
    max-height: 420px;
    max-width: 310px;

    margin-bottom: 20px;

    user-select: none;
}

.card_info {
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin-bottom: 30px;
}

.autor {
    color: var(--clr5);
}

.name {
    font-size: 1.25rem;
}

.price {
    font-size: 1.5rem;
    margin-bottom: 20px;

    color: var(--clr3);
}