.footer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: auto;
    padding-inline: 20px;
    padding-top: 35px;
    padding-bottom: 35px;

    background-color: #E1EDE6;
    color: #2C2D35;
}

.block {
    display: flex;
    justify-content: space-between;

    gap: 30px;
    width: 70%;
}

@media screen and (max-width: 830px) {
    .footer {
        flex-direction: column;
        gap: 30px;
    }

    .block {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .block {
        flex-direction: column;
        align-items: center;

        gap: 30px;
    }
}