.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;
}

.text {
    text-decoration: none;
    transition: border-bottom 0.5s, transform 0.5s, font-weight 0s;
}

.text:hover {
    font-weight: 600;
    border-bottom: 1px solid var(--clr4);
    transform: scale(1.1);
}   

.shopingCart {
    cursor: pointer;

    transition: all 0.5s;
}

.shopingCart:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    .navigation {
        display: none;
    }
}