.promo {
    display: flex;
    flex-direction: column;

    gap: 60px;
    width: 100%;
    max-width: 540px;

    color: #F4F6F5;
}

.promo_description {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.promo_title {
    display: flex;
    align-items: center;

    gap: 20px;
}

.promo_title > h1 {
    font-size: 2.5rem;
}

.promo > button {
    max-width: 255px;
    padding: 20px 0;

    background-color: #EEDB6D;
    color: #2C2D35;
    border: none;

    cursor: pointer;

    transition: all 0.5s, font-weight 0s;
}

.promo > button:hover {
    font-weight: 600;
    opacity: 0.9;
    transform: scale(1.1);
}

