.menu {
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;

    gap: 10px;
}

.inner {
    height: 0;

    overflow: hidden;

    transition: height 0.5s;
}

.inner.open {
    height: 100px;
}

.elements {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 5px;
}